/* /Views/Shared/Components/Menu/Default.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-efg8zjxg74] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-efg8zjxg74] {
  color: #0077cc;
}

.btn-primary[b-efg8zjxg74] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-efg8zjxg74], .nav-pills .show > .nav-link[b-efg8zjxg74] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-efg8zjxg74] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-efg8zjxg74] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-efg8zjxg74] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-efg8zjxg74] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-efg8zjxg74] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/Index.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3bd9mk9nmp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3bd9mk9nmp] {
  color: #0077cc;
}

.btn-primary[b-3bd9mk9nmp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3bd9mk9nmp], .nav-pills .show > .nav-link[b-3bd9mk9nmp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3bd9mk9nmp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3bd9mk9nmp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3bd9mk9nmp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3bd9mk9nmp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3bd9mk9nmp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d6osonakak] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d6osonakak] {
  color: #0077cc;
}

.btn-primary[b-d6osonakak] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-d6osonakak], .nav-pills .show > .nav-link[b-d6osonakak] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-d6osonakak] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-d6osonakak] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-d6osonakak] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-d6osonakak] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-d6osonakak] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutHead.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ods5jgdg8b] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ods5jgdg8b] {
  color: #0077cc;
}

.btn-primary[b-ods5jgdg8b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ods5jgdg8b], .nav-pills .show > .nav-link[b-ods5jgdg8b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ods5jgdg8b] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ods5jgdg8b] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ods5jgdg8b] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ods5jgdg8b] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ods5jgdg8b] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LoginPartial.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5wzue0wc5w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5wzue0wc5w] {
  color: #0077cc;
}

.btn-primary[b-5wzue0wc5w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5wzue0wc5w], .nav-pills .show > .nav-link[b-5wzue0wc5w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5wzue0wc5w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5wzue0wc5w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5wzue0wc5w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5wzue0wc5w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5wzue0wc5w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_SidebarMenu.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-72oniniehr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-72oniniehr] {
  color: #0077cc;
}

.btn-primary[b-72oniniehr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-72oniniehr], .nav-pills .show > .nav-link[b-72oniniehr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-72oniniehr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-72oniniehr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-72oniniehr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-72oniniehr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-72oniniehr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_TopNavbar.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-o91vnbesmj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-o91vnbesmj] {
  color: #0077cc;
}

.btn-primary[b-o91vnbesmj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-o91vnbesmj], .nav-pills .show > .nav-link[b-o91vnbesmj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o91vnbesmj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o91vnbesmj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o91vnbesmj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o91vnbesmj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o91vnbesmj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
